// app global css in SCSS form


@import "./functional/_mixins";
@import "./functional/_variables";
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

// context menu css
@import  '~vue-context/dist/css/vue-context.css';


// Headers
h1 {
    @include typography-h(24px, #FFFFFF, 0.48px, 26px, 700)
}

h2 {
    @include typography-h(22px, #FFFFFF, 0.44px, 26px, 700)
}

h5 {
    @include typography-h(13px, #FFFFFF, 0, 26px, 700)
}


// Global sass

// image
.fb-image-preview {
    text-align: center;
    padding-bottom: 56.25%;
    position: relative;
    height: 100%;
    width: auto;

  img {
    position: absolute;
    border-radius: 2px;
    max-height: 100%;
    max-width: 100%;
 


    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
}

//video 
.fb-video-preview {

    text-align: center;
    padding-bottom: 56.25%;
    position: relative;

    height: 100%;
    width: 100%;

  .preview-video {

  }

  video {
    position: absolute;
    border-radius: 2px;
    max-height: 100%;
    max-width: 100%;
 


    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
}

// image
.fb-sb-image-preview {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;


  img {
    position: absolute;
    max-height: 100%;
    max-width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 300ms ease;



    &:hover {
      cursor: pointer;
      color: rgba(255,255,255, .80);

      left: 50%;
      top: 50%;

      transform: scale(0.95) translate(-52.5%, -52.5%);;
    }

  }
}

.context-menu {
  color: rgba(255,255,255, .80);
	background: #272727 !important;
	box-shadow: 0 32px 34px -10px rgba(0,0,0,0.50) !important;
	border-radius: 4px !important;
	border: none !important;
	padding: 0 !important;
	overflow: hidden !important;

	li {
		padding: 0.2rem 0.7rem;
		cursor: pointer !important;

		&:hover {
			background: lighten(#272727,4%) ;
		}

		&.context-header {
			background: lighten(#272727,4%) ;

			font-size: 0.55rem;
			text-transform: uppercase;
			font-weight: 800;
			letter-spacing: 0.36px;
			padding: 0.2rem 0.4rem;



			&:hover{
			background: lighten(#272727,4%) ;


			}
		}


		.icon {
			float: left;
			margin: 0px 5px 0 -5px;
		}


		p {

			display: inline-block;
			color: white;
			margin: 0;
			padding: 0;
			opacity: 0.4;
			font-size: 0.75rem;
			letter-spacing: -0.2px;
		}
		
	}
} // .context-menu

//video 
.fb-sb-video-preview {

    text-align: center;

    position: relative;

    height: 100%;
    width: 100%;

  .preview-video {

  }

  video {
    position: absolute;
    border-radius: 2px;
    max-height: 100%;
    max-width: 100%;
 


    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
}

// nav input
  .q-field__native {
    padding-left: 8px;
    color: white;
    opacity: 0.8;
    font-weight: 500;

  }


  .q-field__focused {

  }