// app global css in SCSS form


@import "./functional/_mixins";
@import "./functional/_variables";
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");


// Headers
h1 {
    @include typography-h(24px, #FFFFFF, 0.48px, 26px, 700)
}

h2 {
    @include typography-h(22px, #FFFFFF, 0.44px, 26px, 700)
}

h5 {
    @include typography-h(13px, #FFFFFF, 0, 26px, 700)
}


// Global sass

.fb-image-preview {
    // height: 100%;
    // width: 100%;
    text-align: center;
    padding-bottom: 56.25%;
    position: relative;
    height: 100%;
    width: auto;

  img {
    position: absolute;
    border-radius: 2px;
    max-height: 100%;
    max-width: 100%;
 


    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


  }
}