// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #027BE3;
$secondary : #26A69A;
$accent    : #9C27B0;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;




/* ==============================
	Color
============================== */
// text colors
$color-nav-txt: #232323;
$color-sb-txt: #ffffff;

// background colors
$color-body-bg: #232323;
$color-card-bg: #1A1A1A;
$color-filter-bg: #2F2F2F;
$color-sb-settings-bg: #272727;
$background-sb-file-browser: rgb(59, 52, 52);

// buttons
$color-active-but: #80D3F7;
$color-del-but: #EB4F46;

// cards
$card-border-selected: #80D3F7;

// item settings
$item-settings-panel-bg: #2B2B2B;


/* ==============================
	Typography
============================== */

$font-default: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$font-default-bold: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;




/* ==============================
	Breakpoints
============================== */

$grid-breakpoints: (
	xxs: 0,
	xs: 300px,
	sm: 568px,
	md: 667px,
	lg: 768px,
	xl: 992px,
	xxl: 1200px,
);
